<% @flows.each do |flow| %>
	

		<%= link_to show_flow_path(flow) do %>
		<div class="card">
			<div><%= image_tag flow.thumbnail_img, :class => "card-img" %></div>
		  	<div class="card-company-name"><%= flow.company.name %></div>
		  <div class="card-flow-name"><%= flow.display_name %></div>
	  <!--<div class="card-company-logo"><%#= image_tag flow.company.logo %></div>-->
	</div>      
	<% end %> 

<% end %>