<div class = "main-container">

	<div class="header">
		<div class="flows-logo"><%= image_tag "http://via.placeholder.com/50x24" %></div>
		<div class="nav-link push">Home</div>
		<div class="nav-link">About</div>
	</div>
	
	<div class="content-container">

		<div class="menu">
	    <% @categories.each do |category| %>
	      <div class="category"><%= link_to category.name, root_path %></div>
	    <% end %>
	  </div>

		<div class="cards-container">
			<div class="cards-wrapper">
	    <%= render "index", cat_id: 1 %>
	  </div>
	  </div>

	</div>


<%#= link_to 'New Flow', new_flow_path %>
</div>
