<div class = "main-container">

	<div class="header">
		<div class="flows-logo"><%= image_tag "http://via.placeholder.com/50x24" %></div>
		<div class="nav-link push">Home</div>
		<div class="nav-link">About</div>
	</div>
	
	<div class="content-container">
		<div class="empty"> </div>

		<div class="intro-message"><span class="intro-head grey-dark">Real life flows by industry leaders in design.</span>
			<span class="intro-subhead grey-light">Curated for your inspiration.</span>
		</div>

		<div class="menu">
			<div class="category"><%= link_to 'All', all_items_path, :remote => true %></div>
	    <% @categories.each do |cat| %>
	      <div class="category-links"><%= link_to cat.name, fetch_items_path(:category_id => cat.id), :remote => true %></div>
	    <% end %>
	  </div>

		<div class="cards-container">
				<div class="cards-wrapper">
	    	<%= render 'index', locals: {flows: @flows} %>
	  		</div>

	  </div>

	</div>


<%#= link_to 'New Flow', new_flow_path %>
</div>
