<p id="notice"><%= notice %></p>

<% img_array = @flow.images.split %>

<% img_array.each do |image| %>
	<div class="flow-image">
		<%= image_tag image %>
	</div>
<% end %>

<%= link_to 'Edit', edit_flow_path(@flow.id) %> |
<%= link_to 'Back', root_path %>
