<div class="close-flow"></div>

<% img_array = @flow.images.split %>

<div class="main-container">
<% img_array.each do |image| %>
		<div><%= image_tag image, :class => "flow-img" %></div>
<% end %>
</div>
<%#= link_to 'Edit', edit_flow_path(@flow.id) %> |
<%#= link_to 'Back', root_path %>
