/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
	box-sizing: border-box;
}


html {
 font-family: 'Poppins', sans-serif;
}

a{
	text-decoration: none;
	color: #525661;
	font-size: 15px;
}

.full-border{
	grid-column: 1/-1;
	border-top: 1px solid rgba(221,222,228,0.6);
	width: 100%;
	margin-bottom: 16px;
}

.pagination{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
	margin-top: 16px;
	grid-column: 1/-1;
}

.pagination a{
	margin-left: 12px;
	font-size: 18px;
	padding: 10px 16px;
	border-radius: 2px;
}

.pagination a:hover{
	background-color: rgba(221,222,228,0.2);
}

.pagination span{
	margin-left: 12px;
	font-size: 18px;
	
}

.pagination .page.current{
	font-weight: 600;
	background-color: #124DEE;
	padding: 10px 16px;
	border-radius: 4px;
	color: white;
}

.pagination .first{
	display: none;
}

.pagination .last{
	display: none;
}

.pagination .next{
	display: none;
}

.pagination .prev{
	display: none;
}

a:hover{
	color: #124DEE;
}

.active{
	font-weight: 600;
	color: #124DEE;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    /*background: yellow;*/
    background: #124DEE;
}

::selection {
    color: white; 
    /*background: #FFE73E;*/
    background: #124DEE;
}

.yellow{
	color: #FFE73E;
}

.blue{
	color: #124DEE;
}

.grey-dark{
	color: #303440;
}


.grey-regular{
	color: #525661;
}

.grey-light{
	color: #81848C;
}

.grey-extra-light{
	color: #AEB0B5;
}


.wave-icon{
	width: 16px;
	height: auto;
}

.header-icon{
	display: inline-block;
}

.header-name{
	display: inline-block;
	font-size: 15px;
	font-weight: 600;
	margin-left: 8px;
}


@media screen and (min-width: 769px) {




/* -----MAIN GRID------ */
.main-container{
	width: 90%;
	margin: 0 auto;
}

/* ------NAV BAR-----*/
.header{

	display: flex;
	top: 0;
	left: 0;
	height: 80px;
	align-items: center;
	margin-bottom: 48px;
}


/* ------TO ALIGN RIGHT ON THE NAV BAR-----*/
.push{
	margin-left: auto;
	position: relative;
	top: -2px;
}


.inline-block{
	display: inline-block;
	font-size: 15px;
}

.inline-block-two{
	display: inline-block;
	font-size: 15px;
}

.heart-grey{
	height: 16px;
	width: auto;
	display: inline-block;
	position: relative;
	top: 2px;
	margin: 0px 2px;
}

.heart-red{
	height: 16px;
	width: auto;
	display: none;
	position: relative;
	top: 2px;
	margin: 0px 2px;
}

.push:hover .heart-grey{
	display: none;
}

.push:hover .heart-red{
	display: inline-block;
}

.header a:hover{
	color: #303440;
}


/*-------------------  CONTENT STARTS HERE -----------------------*/
.content-container{
	display: grid;
	grid-template-columns: 12fr 60fr;
	grid-template-rows: repeat(155px, 1fr);
	/*grid-gap: 3.3%;*/
	grid-gap: 16px;

}


.empty{
	grid-row: 1 / 2;
	column-span: 10;
	margin-bottom: 64px;
}

.intro-message{
	grid-row: 1 / 2;
	column-span: all;
	align-items: center;
	margin-bottom: 64px;
}


.intro-head{
	font-size: 24px;
	font-weight: 600;
	line-height: 1.38;
	display: block;

}

.intro-subhead{
	margin-top: 8px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.39;
	display: block;
}


/* ------MENU-----*/
.menu{
	/*grid-row: 2 / -1;*/
	/*min-width: 120px;*/
	position: sticky;
  top: 32px;
  height: 100vh; 
}

.menu a{
	line-height: 48px;
}

.category-header{
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1.416;
	padding-bottom: 16px;
	border-bottom: 1px solid rgba(221,222,228,0.6);
	width: 80%;
}


/* ------CARDS GRID-----*/
.cards-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	/*grid-gap: 3.3%;*/
	grid-gap: 40px;
}

.img-bg{
	width: 100%;
	border-radius: 2px;
	overflow: hidden;
}


/* ------FILL IMAGE TO GRID-----*/
.card-img{
	width: 100%;
	height: auto;
	border-radius: 2px;
	display: block;
}


/* ------CARD STYLING-----*/

.card{
	/*margin-bottom: 10.78%;*/
	/*margin-bottom: 32px;*/
	/*padding-bottom: 16px;*/
	/*box-shadow: 0px 0px 1px rgba(0,0,0,0.16);*/
	border-radius: 8px;
	/*transition-duration: 0.4s;
	transition-timing-function: ease-out;*/
}



.card:hover:after{
	/*box-shadow: 0px 0px 1px rgba(0,0,0,0.16), 0px 8px 16px rgba(0,0,0,0.05);
	transform: translate(0px, -8px);
	transition-duration: 0.3s;
	transition-timing-function: ease-out;*/
	transform: scaleX(1);
	transform-origin:  0% 50%;

}

.card::after{
	border: 2px solid #124DEE;
	display: block;
  content: '';
  margin-top: 16px;
  transform: scaleX(0);  
  transition: transform 240ms ease-out;
  transform-origin:  0% 0%;
}




.card-company-name{
	/*margin-top: 5.39%;*/
	/*padding-left: 16px;*/
	margin-top: 16px;
	line-height: 1.416;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.card-flow-name{
  /*margin-top: 2.7%;
  margin-bottom: 5.39%;*/
  /*padding-left: 16px;*/
  margin-top: 8px;
  /*margin-bottom: 16px;*/
  line-height: 1.4375;
  font-size: 18px;
  font-weight: 600;

}


/*-----------------------------------FLOW PAGE---------------------------------*/



.close-flow{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	height: 96px;
	align-items: center;
	margin-bottom: 32px;
	width: 100%;
	transition: top 0.3s;
	z-index: 3;
	background: white;
	/*position: sticky;
	overflow: hidden;
	background: white;
	top: 0;*/
}



.empty-flex{
	flex: 17;
}

.flex-two{
	flex: 59;
}



.close-push-right{
	flex: 6;
}

.close-icon{
	height: 32px;
	width: 32px;
	border-radius: 2px;
}

.close-icon:hover{
	background-color: rgba(221,222,228,0.2);

}


.flow-grid{
	display: grid;
	grid-template-columns: 12fr 60fr;
	grid-template-rows: repeat(800px, 1fr);
	grid-gap: 16px;
	margin-top: 128px;
}

.flow-navigation{
	min-width: 120px;
	grid-row: 1/-1;
	position: sticky;
  top: 48px;
  height: 100vh; 
}

.flow-navigation a{
	line-height: 48px;
	font-size: 13px;
	color: #81848C;
}

.flow-navigation a:hover{
	color: #124DEE;
}


.flow-image-with-text{
	position: relative;
	width: 100%;
	display: inline-block; 
	box-shadow: 0px 0px 1px rgba(0,0,0,0.16);
	margin-bottom: 32px;
	
}


.flow-img{
	width: 100%;
	height: auto;
	display: block;
	border-radius: 4px;

}


.image-overlay{
	background-color: rgba(48,52,64,0.0);
	transition: background-color 0.4s ease-out, color 0.4s ease-out;
	position: absolute;
	display: block;
	max-width: 30%;
	bottom: 16px;
	left: 16px;
	padding: 18px;
	left: 16px;
	color: rgba(255,255,255,0);
	border-radius: 16px;
	line-height: 1.4;
	font-size: 14px;

}


.flow-image-with-text:hover > .image-overlay{

  /*---------TRANSITIONS-------*/
	-webkit-transition: background-color 0.4s ease-out, color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out, color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out, color 0.4s ease-out;
	transition: background-color 0.4s ease-out, color 0.4s ease-out;
	/*-----------------*/

  position: absolute;
  max-width: 30%;
	display: block;
	bottom: 16px;
	left: 16px;
	padding: 18px;
		background-color: rgba(48,52,64,0.9);
	color: rgba(255,255,255,1);
	border-radius: 16px;
	margin-right: 16px;
	line-height: 1.4;
	font-size: 14px;
}



}









/*--------------------------------------MOBILE----------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 768px) {

/* -----MAIN GRID------ */
.main-container{
	margin-left: 16px;
	margin-right: 16px;
	width: auto;
}

/* ------NAV BAR-----*/
.header{

	display: flex;
	top: 0;
	left: 0;
	height: 64px;
	align-items: center;
	margin-bottom: 48px;
}


/* ------TO ALIGN RIGHT ON THE NAV BAR-----*/
.push{
	margin-left: auto;
	position: relative;
	top: -2px;
}


.inline-block{
	display: inline-block;
	font-size: 15px;
}

.inline-block-two{
	display: inline-block;
	font-size: 15px;
}

.heart-grey{
	display: none;
}

.heart-red{
	height: 16px;
	width: auto;
	display: inline-block;
	position: relative;
	top: 2px;
	margin: 0px 2px;
}


/*---------MENU+CARDS ---------*/
.content-container{
display: block;
}


.intro-message{
	width: 100%;
	align-items: center;
	margin-bottom: 64px;
}


.intro-head{
	font-size: 24px;
	font-weight: 600;
	line-height: 1.38;
	display: block;

}

.intro-subhead{
	margin-top: 8px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.39;
	display: block;
}

/* ------MENU-----*/
.menu{
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: 32px;
}

.category{
	display: inline-block;
	margin-right: 24px;
	margin-bottom: 24px;
}

.category-links{
	display: inline-block;
	margin-right: 24px;
	margin-bottom: 24px;
}


.category-header{
	display: none;
}


/* ------CARDS GRID-----*/
.cards-wrapper{
	display: grid;
	grid-template-columns: 1fr;
	/*grid-gap: 3.3%;*/
}


.img-bg{
	width: 100%;
	border-radius: 2px;
	overflow: hidden;
}


/* ------FILL IMAGE TO GRID-----*/
.card-img{
	width: 100%;
	height: auto;
	border-radius: 2px;
	display: block;
}


/* ------CARD STYLING-----*/

.card{
	/*margin-bottom: 10.78%;*/
	/*margin-bottom: 32px;*/
	/*padding-bottom: 16px;*/
	/*box-shadow: 0px 0px 1px rgba(0,0,0,0.16);*/
	border-radius: 8px;
	margin-bottom: 32px;
	/*transition-duration: 0.4s;
	transition-timing-function: ease-out;*/
}


.card-company-name{
	/*margin-top: 5.39%;*/
	margin-top: 16px;
	line-height: 1.416;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.card-flow-name{
  /*margin-top: 2.7%;
  margin-bottom: 5.39%;*/
  margin-top: 8px;
  /*margin-bottom: 16px;*/
  line-height: 1.4375;
  font-size: 18px;
  font-weight: 600;

}


/*------------------------------------FLOW--------------------------------*/

.close-flow{
	display: flex;
	top: 0;
	left: 0;
	height: 80px;
	align-items: center;
	margin-bottom: 24px;
	width: 100%;
}

.close-push-right{
	margin-left: auto;
}
.close-icon{
	height: 32px;
	width: 32px;
}


.flow-grid{
	display: block;
}

.flow-navigation{
	display: none; 
}

.flow-images-container{
	display: grid;
	grid-template-columns: 1fr;
}

.flow-image-with-text{
	
	width: 100%;
	position: relative;
	display: inline-block;
	margin-bottom: 24px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.16);
}

.flow-img{
	width: 100%;
	height: auto;
}

.image-overlay{
	display: none;
}

.flow-image-with-text:hover > .image-overlay{

  /*---------TRANSITIONS-------*/
	-webkit-transition: background-color 0.4s ease-out, color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out, color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out, color 0.4s ease-out;
	transition: background-color 0.4s ease-out, color 0.4s ease-out;
	/*-----------------*/

    position: absolute;
    max-width: 100%;
	display: block;
	bottom: 16px;
	left: 16px;
	padding: 18px;
	background-color: rgba(48,52,64,0.9);
	color: rgba(255,255,255,1);
	border-radius: 16px;
	margin-right: 16px;
	line-height: 1.4;
	font-size: 12px;
}

}


