/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {
 font-family: 'Poppins', sans-serif;
}

a{
	text-decoration: none;
	color: #525661;
	font-size: 15px;
}

a:hover{
	color: #124DEE;
}

a:active{
	font-weight: 600;
	color: #123DEE;
}

::-moz-selection { /* Code for Firefox */
    color: black;
    background: yellow;
}

::selection {
    color: black; 
    background: #FFE73E;
}

.yellow{
	color: #FFE73E;
}

.blue{
	color: #124DEE;
}

.grey-dark{
	color: #303440;
}


.grey-regular{
	color: #525661;
}

.grey-light{
	color: #81848C;
}

.grey-extra-light{
	color: #AEB0B5;
}

@media screen and (min-width: 769px) {


/* -----MAIN GRID------ */
.main-container{
	width: 80%;
	margin: 0 auto;
}

/* ------NAV BAR-----*/
.header{

	display: flex;
	top: 0;
	left: 0;
	height: 80px;
	align-items: center;
	margin-bottom: 48px;
}


/* ------TO ALIGN RIGHT ON THE NAV BAR-----*/
.push{
	margin-left: auto;
	margin-right: 48px;
}


/*-------------------  CONTENT STARTS HERE -----------------------*/
.content-container{
	display: grid;
	grid-template-columns: 10fr 60fr;
	grid-template-rows: repeat(155px, 1fr);
	/*grid-gap: 3.3%;*/
	grid-gap: 16px;

}


.empty{
	grid-row: 1 / 2;
	column-span: 10;
	margin-bottom: 64px;
}

.intro-message{
	grid-row: 1 / 2;
	column-span: all;
	align-items: center;
	margin-bottom: 64px;
}


.intro-head{
	font-size: 24px;
	font-weight: 600;
	line-height: 1.38;
	display: block;

}

.intro-subhead{
	margin-top: 8px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.39;
	display: block;
}


/* ------MENU-----*/
.menu{
	/*grid-row: 2 / -1;*/
	min-width: 120px;
}

.menu a{
	line-height: 48px;
}


/* ------CARDS GRID-----*/
.cards-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	/*grid-gap: 3.3%;*/
	grid-gap: 40px;
}


/* ------FILL IMAGE TO GRID-----*/
.card-img{
	width: 100%;
	height: auto;
	border-radius: 8px 8px 0px 0px;
}



/* ------CARD STYLING-----*/

.card{
	/*margin-bottom: 10.78%;*/
	/*margin-bottom: 32px;*/
	padding-bottom: 16px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.16);
	border-radius: 8px;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
}



.card:hover{
	box-shadow: 0px 0px 1px rgba(0,0,0,0.16), 0px 8px 16px rgba(0,0,0,0.05);
	transform: translate(0px, -8px);
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}


.card-company-name{
	/*margin-top: 5.39%;*/
	padding-left: 16px;
	margin-top: 16px;
	line-height: 1.416;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.card-flow-name{
  /*margin-top: 2.7%;
  margin-bottom: 5.39%;*/
  padding-left: 16px;
  margin-top: 8px;
  /*margin-bottom: 16px;*/
  line-height: 1.4375;
  font-size: 18px;
  font-weight: 600;

}


/*-----------------------------------FLOW PAGE---------------------------------*/



.close-flow{
	height: 80px;
	margin-bottom: 48px;
}


.flow-grid{
	display: grid;
	grid-template-columns: 10fr 60fr;
	grid-template-rows: repeat(800px, 1fr);
	grid-gap: 0px;
}

.flow-navigation{
	min-width: 120px;
	grid-row: 1/-1;
	position: sticky;
  top: 32px;
  height: 100vh; 
}

.flow-navigation a{
	line-height: 48px;
}


.flow-image-with-text{
	position: relative;
	width: 100%;
	display: inline-block; 
	
}


.flow-img{
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 32px;
}


.image-overlay{
	background-color: rgba(0,0,0,0.0);
	transition: background-color 0.4s ease-out, color 0.4s ease-out;
	position: absolute;
	display: block;
	max-width: 30%;
	bottom: 5%;
	padding: 18px;
	color: rgba(255,255,255,0);
	border-radius: 16px;
	margin-bottom: 16px;
	margin-left: 16px;
	margin-right: 16px;
	line-height: 1.4;
	font-size: 14px;

}


.flow-image-with-text:hover > .image-overlay{

  /*---------TRANSITIONS-------*/
	-webkit-transition: background-color 0.6s ease-out, color 0.6s ease-out;
  -moz-transition: background-color 0.6s ease-out, color 0.6s ease-out;
  -o-transition: background-color 0.6s ease-out, color 0.6s ease-out;
	transition: background-color 0.6s ease-out, color 0.6s ease-out;
	/*-----------------*/

  position: absolute;
  max-width: 30%;
	display: block;
	bottom: 5%;
	padding: 18px;
		background-color: rgba(0,0,0,0.8);
	color: rgba(255,255,255,1);
	border-radius: 16px;
	margin-bottom: 16px;
	margin-left: 16px;
	margin-right: 16px;
	line-height: 1.4;
	font-size: 14px;
}




}









/*--------------------------------------MOBILE----------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 768px) {

/* -----MAIN GRID------ */
.main-container{
	margin-left: 16px;
	margin-right: 16px;
	width: auto;
}

/* ------NAV BAR-----*/
.header{

	display: flex;
	top: 0;
	left: 0;
	height: 64px;
	align-items: center;
	margin-bottom: 48px;
}


/* ------TO ALIGN RIGHT ON THE NAV BAR-----*/
.push{
	margin-left: auto;
	margin-right: 24px;
}


/*---------MENU+CARDS ---------*/
.content-container{
display: block;
}


.intro-message{
	width: 100%;
	align-items: center;
	margin-bottom: 64px;
}


.intro-head{
	font-size: 24px;
	font-weight: 600;
	line-height: 1.38;
	display: block;

}

.intro-subhead{
	margin-top: 8px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.39;
	display: block;
}

/* ------MENU-----*/
.menu{
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: 32px;
}


/* ------CARDS GRID-----*/
.cards-wrapper{
	display: grid;
	grid-template-columns: 1fr;
	/*grid-gap: 3.3%;*/
}


/* ------FILL IMAGE TO GRID-----*/
.card-img{
	width: 100%;
	height: auto;
	border-radius: 8px 8px 0px 0px;
}



/* ------CARD STYLING-----*/

.card{
	/*margin-bottom: 10.78%;*/
	margin-bottom: 24px;
	padding-bottom: 16px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.16);
	border-radius: 8px;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
}


.card-company-name{
	/*margin-top: 5.39%;*/
	padding-left: 16px;
	margin-top: 16px;
	line-height: 1.416;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.card-flow-name{
  /*margin-top: 2.7%;
  margin-bottom: 5.39%;*/
  padding-left: 16px;
  margin-top: 8px;
  /*margin-bottom: 16px;*/
  line-height: 1.4375;
  font-size: 18px;
  font-weight: 600;

}


.flow-img{
	width: 100%;
	height: auto;

}

