/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {
 font-family: 'Poppins', sans-serif;
}

a{
	text-decoration: none;
}


@media screen and (min-width: 802px) {


/* -----MAIN GRID------ */
.main-container{
	width: 80%;
	margin: 0 auto;
}

/* ------NAV BAR-----*/
.header{

	display: flex;
	top: 0;
	left: 0;
	height: 64px;
	align-items: center;
	margin-bottom: 48px;
}


/* ------TO ALIGN RIGHT ON THE NAV BAR-----*/
.push{
	margin-left: auto;
	margin-right: 48px;
}


/*---------MENU+CARDS ---------*/
.content-container{
	display: grid;
	/*grid-template-columns: repeat(4, 1fr);*/
	grid-template-columns: 10fr 60fr;
	/*grid-gap: 3.3%;*/
	grid-gap: 16px;

}

/* ------MENU-----*/
.menu{
	grid-row: 1 / -1;
	min-width: 120px;
}

.menu a{
	line-height: 40px;
	color: #535B62;
}

.menu a:hover{
	color: #1F7AE0;
}


/* ------CARDS GRID-----*/
.cards-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	/*grid-gap: 3.3%;*/
	grid-gap: 40px;
}


/* ------FILL IMAGE TO GRID-----*/
.card-img{
	width: 100%;
	height: auto;
}



/* ------CARD STYLING-----*/

.card{
	/*margin-bottom: 10.78%;*/
	/*margin-bottom: 32px;*/
	padding-bottom: 16px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.16);
	border-radius: 8px;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
}



.card:hover{
	box-shadow: 0px 0px 1px rgba(0,0,0,0.16), 0px 8px 16px rgba(0,0,0,0.05);
	transform: translate(0px, -8px);
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
}

/*.card:hover .card-company-name{
	padding-left: 8px;
}

.card:hover .card-flow-name{
	padding-left: 8px;
}*/

.card-company-name{
	/*margin-top: 5.39%;*/
	padding-left: 16px;
	margin-top: 16px;
	line-height: 1.416;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #AFB2B6;
	text-transform: uppercase;
}

.card-flow-name{
  /*margin-top: 2.7%;
  margin-bottom: 5.39%;*/
  padding-left: 16px;
  margin-top: 8px;
  /*margin-bottom: 16px;*/
  line-height: 1.4375;
  font-size: 18px;
  font-weight: 600;
  color: #2F363F;

}


.flow-img{
	width: 100%;
	height: auto;
}



}




/*------------------------MOBILE----------------------------------------------------------*/


@media screen and (max-width: 801px) {

/* -----MAIN GRID------ */
.main-container{
	margin-left: 16px;
	margin-right: 16px;
	width: auto;
}

/* ------NAV BAR-----*/
.header{

	display: flex;
	top: 0;
	left: 0;
	height: 64px;
	align-items: center;
	margin-bottom: 48px;
}


/* ------TO ALIGN RIGHT ON THE NAV BAR-----*/
.push{
	margin-left: auto;
	margin-right: 24px;
}


/*---------MENU+CARDS ---------*/
.content-container{
display: block;
}

/* ------CATEGORY LIST-----*/
.menu{
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: 32px;
	color: #535B62;
}


/* ------CARDS GRID-----*/
.cards-wrapper{
	display: grid;
	grid-template-columns: 1fr;
	/*grid-gap: 3.3%;*/
}


/* ------FILL IMAGE TO GRID-----*/
.card-img{
	width: 100%;
	height: auto;
}



/* ------CARD STYLING-----*/

.card{
	/*margin-bottom: 10.78%;*/
	margin-bottom: 32px;
	padding-bottom: 16px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.16);
	border-radius: 8px;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
}


/*.card:hover .card-company-name{
	padding-left: 8px;
}

.card:hover .card-flow-name{
	padding-left: 8px;
}*/

.card-company-name{
	/*margin-top: 5.39%;*/
	padding-left: 16px;
	margin-top: 16px;
	line-height: 1.416;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #AFB2B6;
	text-transform: uppercase;
}

.card-flow-name{
  /*margin-top: 2.7%;
  margin-bottom: 5.39%;*/
  padding-left: 16px;
  margin-top: 8px;
  /*margin-bottom: 16px;*/
  line-height: 1.4375;
  font-size: 18px;
  font-weight: 600;
  color: #2F363F;

}


.flow-img{
	width: 100%;
	height: auto;
}

